---
export interface Props {
  title: string;
  description: string;
  image: string;
}

const { title, description, image } = Astro.props as Props;

const canonicalURL = new URL(
  Astro.url.pathname === "/" ? Astro.url.pathname : Astro.url.pathname + "/",
  Astro.site
);
const socialImageURL = new URL(image, Astro.url);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="canonical" href={canonicalURL} />
<meta name="description" content={description} />
<meta name="twitter:image" content={socialImageURL} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@jeam" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />
<meta property="og:url" content={canonicalURL} />
<meta name="theme-color" content="#ccfff9" />
<link
  rel="preload"
  href="https://rsms.me/inter/inter.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<link
  rel="preload"
  href="https://fonts.cdnfonts.com/css/made-sunflower"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
  <link href="https://fonts.cdnfonts.com/css/made-sunflower" rel="stylesheet" />
</noscript>
<title>{title}</title>
