---
import "../styles/global.css";

import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import ContentHead from "../components/ContentHead.astro";
export interface Props {
  content: {
    title: string;
    description: string;
    publishDate?: string;
    heroImage?: {
      src: string;
      alt: string;
    };
  };
}

const {
  content: { title, description, publishDate, heroImage },
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <BaseHead title={title + " - Jorge Álvarez" } description={description} image={heroImage.src} />
</head>

<body>
  <BlogHeader activeNavItem="blog" />
  <main class="relative">
    <article>
      <figure class="max-w-4xl mx-auto sm:px-6 grayscale">
        <img src={heroImage.src} alt={heroImage.alt} />
      </figure>

      <div class="md:-mt-20 md:bg-celeste md:relative md:z-10 pt-5 max-w-2xl mx-auto rounded-t-lg">
        <ContentHead title={title} date={publishDate} />
      </div>

      <div class="max-w-2xl mx-auto px-4 sm:px-6 pb-10 prose prose-lg lg:prose-xl">
        <slot />
      </div>
    </article>
    <div class="max-w-2xl mx-auto px-4 sm:px-6 py-10 flex justify-between">
      <a href="/blog"> ← Back to blog</a>
      <a href="#top"> Go to top ↑</a>
    </div>
  </main>
</body>

</html>